*,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg-light {
  background-color: #f7f3f3;
}
.main-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
